# System and IDE files
.idea
.vscode
.awcache

# Vendors
node_modules/

# Build
debug/
dist/
docs/
coverage/
npm-debug.log
package-lock.json
output/
yarn.lock


# Jest
#
.jest/
coverage/
__snapshots__/
